
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(72,193,231,0.9417892156862745) 35%, rgba(1,15,18,1) 100%);    }

.app{
  
    height: 25rem;
    width:20rem;
    background-color: rgb(255, 206, 174);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    overflow: auto;
    border-radius: 20px;
}